<!doctype html>
<html lang="en" ng-app="asanaToolsApp">
<head>
  <meta charset="utf-8">
  <title>Asana Tools</title>
  <link rel="stylesheet" href="css/app.css">
  <link rel="stylesheet" href="css/bootstrap.css">
  <script src="lib/angular/angular.js"></script>
  <script src="js/controllers.js"></script>
  <script src="js/jquery-2.1.0.min.js"></script>
  <script src="js/bootstrap.js"></script>
</head>

<body ng-controller="MainCtrl">

	<div class="row"> <!-- first row -->
		<div class="col-md-offset-5">
            <h2>Asana Tools</h2>
        </div>
    </div> <!-- end first row -->
    <div class="row"> <!-- second row -->
        <div class="col-md-6 col-md-offset-3">
            <form class="navbar-form navbar-left" ng-submit="saveAuth()">
                <div class="input-group">
                    <input type="text" ng-model="apiKey" placeholder="paste your api key here!" class="form-control">
                    <span class="input-group-btn">
                        <button class="btn btn-default" type="submit">Auth</button>
                    </span>
                </div>
            </form>
        </div>
    </div><!-- end second row -->
    <div class="row"><!-- third row -->
        <div class="col-md-offset-3">
        	<div class="btn-group">
  				<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
    				Workspace <span class="caret"></span>
  				</button>
  				<ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
                    <li ng-if="!workspaces.data"><font style="padding-left:10px;">Authenticate first!</font></li>
  					<li ng-repeat="workspace in workspaces.data">
                		<a ng-click="getProjects(workspace.id,workspace.name)" href="#">{{workspace.name}}
                        </a>
                	</li>
  				</ul>
			</div>
            <div class="btn-group">
  				<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
    				Project <span class="caret"></span>
  				</button>
  				<ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
                    <li ng-if="!projects.data"><font style="padding-left:10px;">Workspace first!</font></li>
  					<li ng-repeat="project in projects.data">
                		<a ng-click="listTasks(project.id,project.name)" href="#">{{project.name}}
                        </a>
                	</li>
  				</ul>
			</div>
        </div>
    </div><!-- end third row -->
    <div>&nbsp;</div>
    <div class="row">
        <div class="col-md-offset-3">
            <h4>
                <text>Tasks in <text ng-if="workspace">workspace <strong style="color:rgb(30,145,220)">{{workspace}}</strong><text ng-if="project"> project <strong style="color:rgb(30,145,220)">{{project}}</strong></text>
            </h4>
        </div>
    </div>
    <div>&nbsp;</div>
    <div class="row">
        <div class="col-md-offset-3 col-md-6 table-responsive">
            <table class="table table-hover">
                <tr ng-repeat="task in tasks.data">
                    <td ng-click="setTask(task.id)" data-toggle="modal" data-target=".bs-modal-sm">{{task.name}}</td>
                    <div class="modal fade bs-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
                        <div class="modal-dialog modal-sm">
                            <div class="modal-content">
                                <div class="row" ng-if="current_task.data.name">
                                    <strong>Name</strong>: {{current_task.data.name}}</div>
                                <div class="row" ng-if="current_task.data.notes">
                                    <strong>Notes</strong>: {{current_task.data.notes}}</div>
                                <div class="row" ng-if="current_task.data.completed">
                                    <strong>Completed</strong>: {{current_task.data.completed}}</div>
                                <div class="row" ng-if="current_task.data.completed_at">
                                    <strong>Completed at</strong>: {{current_task.data.completed_at}}</div>
                                <div class="row" ng-if="current_task.data.assignee.name">
                                    <strong>Assignee</strong>: {{current_task.data.assignee.name}}</div>
                                <div class="row" ng-if="current_task.data.notes">
                                    <strong>Status</strong>: {{current_task.data.assignee_status}}</div>
                            </div>
                        </div>
                    </div>
                </tr>
            </table>
        </div>
    </div>
</body>

</html>
